{% extends 'base.html' %}

{% block body %}

<div class="jumbotron ml-5 mx-5" style="margin-top: 100px;">
    <div class="card">
        <form action='' method='POST'>
            {% csrf_token %}
            <input name='product_name' class="form-control" type='text' placeholder="Product Name" value='{{data.product_name}}'>
            <input name='rate' class="form-control" type='number' placeholder="Rate" value={{data.rate}}>
            <input name='available_quantity' class="form-control" type='number' placeholder="Available Quantity" value={{data.available_quantity}}>
            <input type='submit' class="btn btn-primary" value='submit'>
        </form>
    </div>
</div>

{% endblock body %}