{% extends 'base2.html' %}
{% block body %}

<div class="card mb-4" style="width: 75%;margin-right: auto;margin-left: auto;margin-top: 120px;">

    <div class="">
        
        <div class=" mx-auto border-right">
            <h3 class="ml-3 my-3">My Shopping Cart:</h3>
            <table class="table border-0 ml-4 mx-3" style="width: 95%;">
                <thead class="bg-light">
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Product</th>
                    <th scope="col">Rate:</th>
                    <th scope="col">Qty:</th>
                    <th scope="col">Amount:</th>
                    <th scope="col">Available:</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <!--loop part-->
                    {% for i in data %}
                  <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{i.product_name}}</td>
                    <td>{{i.rate}}</td>
                    <td>
                        <div class="input-group input-group-sm mb-3 col-3" >
                            <!-- <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm"></span>
                            </div> -->
                            <input type="number"  aria-label="Small" aria-describedby="inputGroup-sizing-sm" value='{{ i.item_quantity }}'>
                          </div>
                    </td>
                    <td>{{i.cost}}</td>
                    <td>{{i.available_quantity}}</td>
                    <td><form action='' method='POST'>
                      {% csrf_token %}
                      <input name='id' type='hidden' value='{{i.product_name}}'>
                      <input type='submit' class = "btn btn-danger" name='delete' value = "Delete" ></form></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="row">
          <div class="col-4">
            <h1 class="my-3 ml-3">Total: Rs. {{ Total }}</h1>
            <p class="ml-3"> Order_id = {{ order_id }}</p>
            <form action='' method='POST'>
              {% csrf_token %}
              <input  class="btn btn-primary ml-3 mb-3" type='submit' value='Submit'>
            </form> 
        </div>
        </div>
    </div>
</div>

{% endblock body%}