<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
</head>
<body>
    <p id="countdown">10:00</p>

   <script src="script.js"></script>

</body>

</html>
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {

    font-family: 'Roboto', sans-serif;
    margin: 0;
}
p {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size:50px;
    height: 70px;
    width: 200px ; 
}

</style>